@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

element{
    --background-white: #F8F9FA;
    --color-blue: #007AFF;
    --color-grey: #EBECED;
}
.font{
  font-family: 'Montserrat', sans-serif;
}

body{
    background-color: (var(--background-white))
}

main{
  margin: 1rem;
}
.bold{
  font-weight: bold;
}

.burger-menu{
  height: 3rem;
}

.burger-menu img{
    height: 3rem;
    width: 3rem;
    float: right;
}

.navbar{
    display: none;
    text-align: center;
    font-weight: bold;
    width: 100%;
}
.navbar li{
    list-style: none;
}

.navbar li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;

}

.navbar ul li{
  margin: 1rem;
}

.blue li a{
    color: #007AFF;
}

.blue{
  color: #007AFF;
}
.card{
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  margin-bottom: 2rem;
}

.card-first{
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  margin-bottom: 2rem;
  height: 12rem;
  align-items: center;
}
.card-body-first{
  text-align: center;
  width: 100%;
}

.card-title-first{
  font-size: 1rem;
}

.card-body{
  width: 100%;
  height: 100%;
}

.card-img{
  height: 5rem;
  width: 5rem;
  margin: 1rem;
}

.card-text{
  font-size: 0.8rem;
}

.card-text-presentation{
  font-size: 0.9rem;
  text-align: center;
  margin: 1rem;
}

.card-title{
  text-align: center;
}


.card-soft{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin: 1rem;
}

.card-soft-text{
  border-radius: 0.5rem;
  text-align: center;
  background-color: #EBECED;
  padding: 0.5rem;
}

.card-soft-text.two{
  grid-column: 3 / 1;
}

.card-soft-title{
  margin: 1rem;
  text-align: center;
}


.card-hard{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin: 1rem;
}

.card-hard-text{
  border-radius: 0.5rem;
  text-align: center;
  background-color: #EBECED;
  padding: 0.5rem;
}

.card-hard-text.two{
  grid-column: 3 / 1;
}

.card-hard-title{
  margin: 1rem;
  text-align: center;
}


.card-project-title{
  margin-left: 1rem;
  margin-top: 1rem;
}

.card-project-text{
  font-size: 0.8rem;
  margin-left: 1rem;
}
.card-techno{
  display: flex;
  align-items: center;
}

.card-techno img.code{
  margin-left: 1rem;
  margin-right: 0.5rem;
  height: 1.5rem;
  width: 1.5rem;
}

.card-techno .techno{
  width: 100%;
  font-size: 0.8rem;
}

.card-techno .github{
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 1rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.3rem;
  text-decoration: none;
  border: 1px solid #EBECED;
}

.card-techno .github:hover{
  background-color: #EBECED;
}




.title{
  margin-top: 3rem;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.form-group{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.form-class{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.form-class input{
  border: none;
  background-color: #EBECED;
  border-radius: 0.3rem;
  height: 3rem;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  text-indent: 1rem;

  
}
.btn{
  display: flex;
  justify-content: flex-end;
}

.btn button{
  display: flex;
  justify-content: center;
  margin: 1rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.3rem;
  text-decoration: none;
  background-color: #007AFF;
  color: #FFF;
  align-items: center;
  border: none;
}

.footer-text{
  display: flex;
  align-content: center;
  flex-direction: column;
}

.footer-text p{
  text-align: center;
}

.footer-text a{
  text-align: center;
  text-decoration: none;
}


@media only screen and (min-width: 768px) {
  .burger-menu{
    display: none;
  }

  .burger-menu img{
    display: none;
  }

  .navbar{
    display: block;
    height: 4rem;
  }
  .navbar ul{
    display: flex;
    float: right;
  }
  .navbar ul li{
    margin-right: 1rem;
  }
  .card{
    width: 100%;
  }

  main{
    margin: 4rem;
  }

  .card-text{
    font-size: 1rem;
    text-align: center;
  }
}


@media only screen and (min-width: 1024px) {
  .burger-menu{
    display: none;
  }

  .burger-menu img{
    display: none;
  }

  .navbar{
    display: block;
    height: 4rem;
  }
  .navbar ul{
    display: flex;
    float: right;
  }
  .navbar ul li{
    margin-right: 1rem;
  }

  main{
    margin: 5rem;
  }

  .competences{
    display: flex;
    justify-content: center;
  }
  .project{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }

  .card{
    margin: 1rem;
  }

  .card-first{
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    margin-bottom: 2rem;
    height: 12rem;
    align-items: center;
  }
  .card-body-first{
    text-align: center;
    width: 100%;
  }
  
  .card-title-first{
    font-size: 2rem;
  }

  .card-img{
    height: 10rem;
    width: 10rem;
    margin: 3rem;
  }

}

@media only screen and (min-width: 1440px) {
  .burger-menu{
    display: none;
  }

  .burger-menu img{
    display: none;
  }

  .navbar{
    display: block;
    height: 4rem;
  }
  .navbar ul{
    display: flex;
    float: right;
  }
  .navbar ul li{
    margin-right: 1rem;
  }

  main{
    margin-left: 25rem;
    margin-right: 25rem;
  }

  .competences{
    display: flex;
    justify-content: center;
  }

  .card{
    margin: 1rem;
  }
  .card-first{
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    margin-bottom: 2rem;
    height: 12rem;
    align-items: center;
  }
  .card-body-first{
    text-align: center;
    width: 100%;
  }
  
  .card-title-first{
    font-size: 2rem;
  }

  .card-img{
    height: 10rem;
    width: 10rem;
    margin: 3rem;
  }


}